body{
    margin: 0;
    background-image: url(images/LoginPageBackground6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6rem;
}
.profile-container {
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-image: url(images/sideBackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 27rem;
    padding: 30px;
    text-align: center;
    margin: 20px;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.error-message {
    color: red;
}

.nav-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.nav-links a{
    color: black;
    text-decoration: none;
}
.nav-links a:hover{
    color: rgb(51, 54, 56);
    text-decoration: underline;
    animation:normal ;
    animation-duration: 3s;
    animation-delay: 1s;
}
#MyRecipesTitle{
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bolder;
    float: center;
}
.updatetitle{
    margin-bottom: 5px;
}
.updateline{
    width: 200px;
    height: 2.5px ;
    margin-bottom: 3rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.ChangeImageArea{
    padding: 5px;
    margin-top:10px;
    color: black;
}
.ChangeButton{
    padding: 10px;
    border-radius: 15px;
    background-color: chocolate;
    color: #ddd;
    border: none;
}
.ChooseInput{
    padding: 10px;
    border-radius: 15px;
    background-color: brown;
    color: #ddd;
    border: none;
}