#IndexBody {
    margin: 0;
    font-family: Arial, sans-serif;
}
#LoginBody {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(images/LoginPageBackground6.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.top-bar {
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98%;
    top: 0;
}

.menu-icon {
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.left-section {
    display: flex;
    align-items: center;
}
.drawer-nav {
background-image: url(images/sideBackground2.jpg);
background-repeat: no-repeat;
background-size: cover;
color: black;
height: 100%;
width: 22rem;
position: fixed;
top: 0;
left: -22rem;
overflow-y: auto;
transition: left 0.3s ease;
z-index: 200; 
}

.drawer-open .drawer-nav {
left: 0;
}

.drawer-menu {
list-style: none;
padding: 0;
}

.drawer-menu li {
padding: 10px;
color: black;
}

.drawer-menu li a {
color: black;
text-decoration: none;
}

.drawer-menu li:hover {
background-image: url(images/SideHover.png);
background-repeat: no-repeat;
background-size: cover;
}

.sublist {
display: none;
list-style: none;
margin: 0;
padding: 0;
}

.drawer-overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.2);
z-index: 100;
}

.drawer-open .drawer-overlay {
display: block;
}

.arrow {
cursor: pointer;
float: right;
color: white;
transition: transform 0.5s ease;
}

.arrow:hover {
color: orange;
}

.left-section h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    margin-right: 10px;
}

.menu-icon {
    font-size: 1.5rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: #fff;
}

.right-section {
    display: flex;
    align-items: center;
}
#magic {
    align-content: center;
    color: #ffffff
    ;
}

.search-bar {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
}

.search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.login-icon {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding-right: 10px;
    margin-left: 10px;
}
#container4{
    padding: 25px 0 25px 0;
}
#section{
    text-align: center;
}
#aboutrow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px 0 100px;
}
.aboutcol{
    flex: 1;
}
#aboutimg{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right:auto;
}
#aboutimg img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}
.aboutcol h1{
    text-align: center;
    font-family: cursive;
}
.aboutcol p{
    text-align: justify;
    font-weight: bold;
}
#container4{
    padding: 25px 0 25px 0;
}
#contact_row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    flex-wrap: wrap;
}
.contact_col{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.contact_col p,h3{
    font-weight: bold;
    color: #292929;
    margin: 10px;
}
.contact_col p a{
    text-decoration: none;
    color: #292929;
}
#social{
    margin: 3px;
}
#youtube{
    color:red;
}
#facebook{
    color: blue;
}
#twitter{
    color: aqua;
}
#instagram{
    color: blueviolet;
}
.contact_col form{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 70%;
    padding: 20px 40px 20px 40px;
}
.contact_col form h2{
    text-align: center;
    font-family: cursive;
}
.contact_col form input{
    width: 100%;
    height: 17pt;
    padding: 5px;
    margin: 5px;
}
.contact_col form textarea{
    width: 100%;
    padding: 5px;
    margin: 5px;
}
.contact_col form button{
    margin: auto;
    padding: 10px;
    background-color: brown;
    border: 1px solid brown;
    border-radius: 10px;
}
#section1{
    text-align: center;
}

#drawer_about{
    text-decoration: none;
}
.formsection{
    position:fixed;
    width: 12rem;
}
#content{
    float: right;
}
#Login-main{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    padding: 5rem;
    
}
.Login-contents{
    align-items: center;
    border-radius: 20px;
    background-image: url(images/sideBackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    min-height: 70vh;
}
#Login-text{
    text-align: center;
    font-family: cursive;
}
#Login-inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Login-Form{
   
    padding: 1.5rem;
}
.Login-Form label{
    font: bold;
    font-family: cursive;
    font-size: larger;
    margin-bottom: 10px;
}
.Login-contents input{
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 10px;
}
#Login-btn{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
#Login-btn Button{
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 17px;
    background-color:chocolate;
    padding-bottom: 17px;
    border-radius: 20px;
    font-family: cursive;
    font: bold;
}
#register{
    display: flex;
    justify-content: center;
    font-family: cursive;
}
#register a{
    text-decoration: none;
    font-family: cursive;
    margin-left: 5px;
}
#Register-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    
}
.bigbox{
    width: auto;
    height: auto;
    border-style: solid;
    border-color: #ccc;
    background-color: aqua;
    display: flex;
    
}