.MainContent{
    display: flex;
    justify-content: center;
    padding:5rem;
    background-image: url(images/LoginPageBackground6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.UploadContent{
    background-image: url(images/sideBackground2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: cursive;
    display: flex;
    padding: 30px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: center;
}
.FormContent form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FormContent form input{
    border: none;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}
.FormContent form textarea{
    border: none;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}
.FormContent form select{
    border: none;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}
.FormContent button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: chocolate;
}
.FormContent label{
    margin-bottom: 10px;
    margin-top: 10px;
}
.FormTitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.RecipeImage{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.SubmitButton{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}